<div id="experiencesTitle" class="mainTitle mx-auto">
    <p>Expériences</p>
</div>

<div class="container" id="formationsHolder">
    <div class="row">
        <div class="col-2" style="border: 1px solid black;">
            img
        </div>

        <div class="col-8" style="border: 1px solid black;">
            <h2>name</h2>
            <h5>date / place</h5>
            <p>lorem ipsum <br> lorem</p>
        </div>

        <div class="col-2" style="border: 1px solid black;">
            <a href="#" style="text-decoration: none; color: gray;">L'école</a>
            <a href="#" style="text-decoration: none; color: gray;">Contact</a>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    
    <div class="row">
        <div class="col-2">
            img
        </div>

        <div class="col-8">
            <h2>Alternant Développeur</h2>
            <h5>SNCF Réseau / Saint Denis (93)</h5>
            <p>Développement d'une application bureautique lourde en WPF.</p>
        </div>
        <div class="col-2">
            <a href="#" style="vertical-align: middle; text-decoration: none; color: gray;">+ d'infos</a>
            <a href="#" style="vertical-align: middle; text-decoration: none; color: gray;">Contact</a>
        </div>
    </div>
</div>