<div id="skillsTitle" class="mainTitle mx-auto">
    <p>Compétences</p>
</div>

<div class="row">
    <div class="col-4">
        <div class="list-group" id="skillList-dev" role="tablist">
            <a class="list-group-item list-group-item-action active" id="skillList-dev" 
            data-bs-toggle="list" role="tab" aria-controls="dev" href="#skill-dev">Dev</a>
            
            <a class="list-group-item list-group-item-action" id="skillList-database" 
            data-bs-toggle="list" role="tab" aria-controls="database" href="#skill-database">Bases de données</a>

            <a class="list-group-item list-group-item-action" id="skillList-other" 
            data-bs-toggle="list" role="tab" aria-controls="other" href="#skill-other">Autres</a>
        </div>
    </div>

    <div class="col-8">
        <div class="tab-content show active" id="nav-tabContent">
            <div class="tab-pane fade show active" id="skill-dev" role="tabpanel" aria-labelledby="skillList-dev"> dev </div>
            <div class="tab-pane fade" id="skill-database" role="tabpanel" aria-labelledby="skillList-database"> db </div>
            <div class="tab-pane fade" id="skill-other" role="tabpanel" aria-labelledby="skillList-other"> + </div>
        </div>
    </div>
</div>

