<div id="experiencesTitle" class="mainTitle mx-auto">
    <p>Formations</p>
</div>

<br>
<br>
<br>
<br>

<div class="container" id="formationsHolder">
    <div class="row">
        <div class="col-2" style="border: 1px solid black;">
            img
        </div>

        <div class="col-8" style="border: 1px solid black;">
            <h2>name</h2>
            <h5>date / place</h5>
            <p>lorem ipsum <br> lorem</p>
        </div>

        <div class="col-2" style="border: 1px solid black;">
            <a href="#" style="text-decoration: none; color: gray;">L'école</a>
            <a href="#" style="text-decoration: none; color: gray;">Contact</a>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    
    <div class="row">
        <div class="col-2">
            img
        </div>

        <div class="col-8">
            <h2 data-bs-toggle="tooltip" title="Bac Sciences et Technologies de l'Industrie et du Dev Durable">Bac STi2D <span style="color: gray;" data-bs-toggle="tooltip" title="Système d'Information aux Organisations">- option SIN</span></h2>
            <h5>Lycée Blaise Pascal / Chateauroux (36)</h5>
            <p>blah blah blah bac sti2d balh blah blah</p>
        </div>
        <div class="col-2">
            <a href="#" style="vertical-align: middle; text-decoration: none; color: gray;">L'école</a>
            <a href="#" style="vertical-align: middle; text-decoration: none; color: gray;">Contact</a>
        </div>
    </div>
</div>